.Lang {
  display: flex;
  width: 100vw;
  height: 100vh;

  align-items: center;
  flex-flow: column;
}

.Lang section {
  display: flex;

  align-items: center;
  flex-flow: column;
  flex-grow: 5;
}

.Lang footer {
  padding: 2rem;

  flex-grow: 1;
}

.Lang h1 {
  margin: 2rem 0 1rem;
  text-shadow: 0 .18rem rgba(0, 0, 0, .2);
  font-size: 1.2rem;
}

.Lang .langItem a {
  display: block;
  margin: .5rem;
  padding: 1.6rem 0;
  width: 120px;
  text-align: center;
  border: solid 4px black;
  border-radius: 1.6rem;
  box-shadow: 0 .1rem rgba(0, 0, 0, .2);
  text-shadow: 0 .1rem rgba(0, 0, 0, .2);
  font-size: 1rem;
}

.Lang .langItem.active a {
  color: white;
  background-color: black;
}
