.Quiz {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

.Quiz .stemContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  color: white;
  text-align: center;
  font-size: 1.4rem;
  line-height: 1.6;

  align-items: center;
  flex-grow: 1;
  justify-content: center;
}

.Quiz .stemTimer,
.Quiz .stemScores {
  width: 50%;
  font-size: .8rem;
  line-height: 4;
}

.Quiz .stemStatus {
  font-size: .8rem;
  line-height: 4;
}

.Quiz .stemHeader {
  display: flex;
  width: 100%;
}

.Quiz .stemEnemy {
  flex-grow: 1;
}

.Quiz .optionContainer {
  display: flex;
  width: 100%;

  flex-flow: row wrap;
}

.Quiz .optionItem {
  position: relative;
  padding-bottom: 37.5%;
  width: 50%;
  color: white;
  text-align: center;
}

.Quiz .stemEnemyText,
.Quiz .optionText {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  line-height: 2;

  align-items: center;
  flex-flow: column;
  justify-content: center;
}

.Quiz .optionDemage {
  font-size: .8rem;
}
