@font-face {
  font-weight: normal;
  font-style: normal;
  font-family: "pokemon_gbregular";
  src: url("./fonts/pokemon_gb-webfont.woff2") format("woff2"),
  url("./fonts/pokemon_gb-webfont.woff") format("woff");
}

body {
  font-family: "pokemon_gbregular", monospace;
}

a {
  color: initial;
  text-decoration: none;
  user-select: none;
}
